<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/img77.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <!-- <a href="index.html" id="main-logo">Travel</a> -->
                        <div class="tabulation animate-box">

                          <!-- Nav tabs -->
                           <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation">
                                  <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
                              </li>
                              <li role="presentation" class="active">
                                   <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a>
                              </li>
                             
                           </ul>

                           <!-- Tab panes -->
                            <div class="tab-content">
                             <div role="tabpanel" class="tab-pane" id="flights">
                                <div class="row">
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <div class="input-field">
                                            <label for="from">From:</label>
                                            <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA"/>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <div class="input-field">
                                            <label for="from">To:</label>
                                            <input type="text" class="form-control" id="to-place" placeholder="Tokyo, Japan"/>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt alternate">
                                        <div class="input-field">
                                            <label for="date-start">Check In:</label>
                                            <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt alternate">
                                        <div class="input-field">
                                            <label for="date-end">Check Out:</label>
                                            <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt">
                                        <section>
                                            <label for="class">Class:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>Economy</option>
                                                <option value="economy">Economy</option>
                                                <option value="first">First</option>
                                                <option value="business">Business</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <section>
                                            <label for="class">Adult:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>1</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <section>
                                            <label for="class">Children:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>1</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="submit" class="btn btn-primary btn-block" value="Search Flight">
                                    </div>
                                </div>
                             </div>

                             <div role="tabpanel" class="tab-pane active" id="hotels">
                                 <div class="row">
                                    <div class="col-xxs-12 col-xs-12 mt">
                                        <div class="input-field">
                                            <label for="from">City:</label>
                                            <input type="text" class="form-control" id="from-place" placeholder="Los Angeles, USA"/>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt alternate">
                                        <div class="input-field">
                                            <label for="date-start">Return:</label>
                                            <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/>
                                        </div>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt alternate">
                                        <div class="input-field">
                                            <label for="date-end">Check Out:</label>
                                            <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt">
                                        <section>
                                            <label for="class">Rooms:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>1</option>
                                                <option value="economy">1</option>
                                                <option value="first">2</option>
                                                <option value="business">3</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <section>
                                            <label for="class">Adult:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>1</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xxs-12 col-xs-6 mt">
                                        <section>
                                            <label for="class">Children:</label>
                                            <select class="cs-select cs-skin-border">
                                                <option value="" disabled selected>1</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </section>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="submit" class="btn btn-primary btn-block" value="Search Hotel">
                                    </div>
                                </div>
                             </div>

                           
                            </div>

                        </div>
                    </div>
                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                            <p>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></p>
                            <h2>Exclusive Limited Time Offer</h2>
                            <h3>Fly to Hong Kong via Los Angeles, USA</h3>
                            <span class="price">$599</span>
                            <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="fh5co-contact" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Your Booking</h3>
            </div>
        </div>
        <div class="row" *ngFor="let info of locationselected">
            <div class="col-md-6">
            <u>Propery Name:</u><h3><b>{{info.resortname}}</b></h3>
            <p>{{info.location.locationname}}</p>
            <sub><p><b>Rs.{{info.property.price}}</b></p></sub>

            </div>
            <div class="col-md-6">
                <img [src]="info.property.images[0].attachment ? info.property.images[0].attachment : 'assets/images/extrahotel.jpg'" class="img-responsive" width="150" height="150">            
            </div>
        </div>
        <form [formGroup]="hotelBookForm">
            <div class="row animate-box">              
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-start">Check In:</label>
                                <input type="date" class="form-control" placeholder="mm/dd/yyyy" formControlName="checkin" [(ngModel)]="checkin"/>
                                <div *ngIf="hotelBookForm.controls['checkin'].invalid && (hotelBookForm.controls['checkin'].touched || hotelBookForm.controls['checkin'].dirty)" class="alert-msg">
                                    <div *ngIf="hotelBookForm.controls['checkin'].errors.required">
                                       <h5> select checkin date First.. </h5>
                                      </div>                                   
                                </div>
                                
      
                        </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-end">Check Out:</label>
                                <input type="date" class="form-control" placeholder="mm/dd/yyyy" formControlName="checkout" [(ngModel)]="checkout"/>
                            </div>
                        </div>
                      <!--   <div class="row">
                            <label for="date-end">Total Nights:</label>
                            <p>{{datediff}}</p>
                        </div> -->

                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="date-end">Full Name:</label>                            
                                <input type="text" class="form-control" placeholder="Name" formControlName="fullname" [(ngModel)]="fullname">
                                <div *ngIf="hotelBookForm.controls['fullname'].invalid && (hotelBookForm.controls['fullname'].touched || hotelBookForm.controls['fullname'].dirty)" class="alert-msg">
                                    <div *ngIf="hotelBookForm.controls['fullname'].errors.required">
                                       <h5> fullname is Required</h5>
                                      </div>                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-end">Email Address:</label>
                                <input type="text" class="form-control" placeholder="EmailID" formControlName="email" [(ngModel)]="email">
                                <div *ngIf="hotelBookForm.controls['email'].invalid && (hotelBookForm.controls['email'].touched || hotelBookForm.controls['email'].dirty)" class="alert-msg">
                                    <div *ngIf="hotelBookForm.controls['email'].errors.required">
                                       <h5> Email is Required</h5>
                                      </div>
                                      <div *ngIf="hotelBookForm.controls['email'].errors.email">
                                       <h5> email is in valid email form</h5>
                                      </div>
                                </div>
                            </div>
                        </div>
                
                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date-end">Mobile Number:</label>
                                <input type="text" class="form-control" placeholder="mobile_number" formControlName="mobile_number" [(ngModel)]="mobile_number">
                                <div *ngIf="hotelBookForm.controls['mobile_number'].invalid && (hotelBookForm.controls['mobile_number'].touched || hotelBookForm.controls['mobile_number'].dirty)" class="alert-msg">
                                    <div *ngIf="hotelBookForm.controls['mobile_number'].errors.required">
                                       <h5> Mobile_Number is Required</h5>
                                      </div>                                   
                                </div>
                            </div>
                        </div>                       

                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="date-end">Rooms:</label>                            
                                <input type="text" class="form-control" placeholder="Total Rooms" formControlName="totalrooms" [(ngModel)]="totalrooms">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="date-end">Adult:</label>                            
                                <input type="text" class="form-control" placeholder="Adults" formControlName="totaladults" [(ngModel)]="totaladults">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="date-end">Children:</label>                            
                                <input type="text" class="form-control" placeholder="Childrens" formControlName="totalchildrens" [(ngModel)]="totalchildrens">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="SUBMIT" (click)="insert()" class="btn btn-primary">
                            </div>
                        </div>


                        
                </div>
            </div></div>
        </form>
    </div>
</div>